@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Quicksand&display=swap");

:root {
    --bg-body: #a5c1de;
    --bg-nav: #33455b;
    --text-shadow: rgb(82, 79, 79);
    --bg-main: #b4cde6;
}
* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: var(--bg-body);
    height: 300vh;
}
a {
    text-decoration: none;
}

#sidebar,
.navbar {
    background-color: var(--bg-nav);
}
.brand,
.nav-link,
.fa-bars-staggered,
.user {
    color: antiquewhite;
}
.nav-link:hover {
    color: white;
    background-color: #0d6efd;
}
.nav-item {
    margin-bottom: 2px;
}
.brand,
.nav-link,
.user {
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
}
#sidebar {
    transform: translateX(-100%);
    transition: all 0.3s;
}
#sidebar.show {
    transform: translateX(0);
    transition: all 0.3s;
}

#toggle {
    transition: all 0.3s;
}

#myBtn {
    display: none;
    font-size: 2rem;
    position: fixed;
    z-index: 1;
    color: var(--bg-nav);
    cursor: pointer;
    bottom: 15px;
    right: 20px;
}
